.DS_Store
/.build
./client/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

#Server
/server/node_modules
/server/test.ts
